body,html {
  --r-main-font-size: 18px;
  /*--r-block-margin: 10px;*/
}

section.stack::before {
  height: 5px;
  content: "";
  width: 100%;
  display: flex;
}

section.stack {
  border: 1px solid #aaa;
  height: 100%;
  padding: 30px 0px;
  box-sizing: border-box;

}

.slide .level2 {
  padding: 20px; 30px;
  box-sizing: border-box;
}

.reveal .slides {
  text-align: left;
  display: flex;
  align-items: center;
}

.reveal h2 {
    font-size: 30px;
    border-bottom: 2px solid rgb(106, 0, 95);
    padding-bottom: 5px;
}

.reveal p {
  margin: 5px;
}

.reveal pre {
  width: 98%;
  margin: 5px;
}

div.sourceCode {
    margin: 3px 0;
}

.reveal pre code {
  font-size: 16px;
  line-height: 1.2em;
}

li {
  margin-top: 5px;
}

.reveal blockquote {
  width: 100%;
}

.reveal .slides {
  text-align: left;
}

h1 {
  text-align: center;
}

.reveal h1 {
  margin-top: 300px;
}

h1.title {
  margin-top: 0px;
}

.display.math {
  display: inline;
}
