body,html {
  --r-main-font-size: 18px;
  /*--r-block-margin: 10px;*/
}

.reveal blockquote {
  border-left: 4px solid #dfe2e5;
  padding: 0 15px;
  color: #777777;
  box-shadow: 0px 0px 2px 2px #eee;
  box-sizing: border-box;
  font-style: normal;
}

blockquote > p {
  line-height: 1.1em!important;
  font-size: 15px;
}

section.stack::before {
  height: 5px;
  content: "";
  width: 100%;
  display: flex;
}

section.stack {
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 100%;
  padding: 30px 0px;
  box-sizing: border-box;
}

.slide .level2 {
  padding: 20px; 30px;
  box-sizing: border-box;
}

.reveal .slides {
  text-align: left;
  display: flex;
  align-items: center;
}

.reveal h2 {
    font-size: 30px;
    border-bottom: 2px solid rgb(106, 0, 95);
    padding-bottom: 5px;
}

.reveal p {
  margin: 5px;
}

.reveal pre {
  width: 98%;
  margin: 5px;
  box-shadow: none;
  color: #777;
  border: 1px solid #e7eaed;
  background-color: #fafafa;
}

div.sourceCode {
    margin: 3px 0;
}

.reveal pre code {
  font-size: 16px;
  line-height: 1.2em;
  max-height: 350px;
}

li {
  margin-top: 5px;
}

.reveal blockquote {
  width: 100%;
}

.reveal .slides {
  text-align: left;
}

h1 {
  text-align: center;
}

.reveal h1 {
  margin-top: 300px;
}

h1.title {
  margin-top: 0px;
}

.display.math {
  display: inline;
}
